.App {
  /* text-align: center; */
  font-family: Lato,sans-serif !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.listposts .posts-grid {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.categories .newpost {
  display: flex;
  /* justify-content: center; */
  margin: 15px auto;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 24px;
}
@media (max-width: 726px) {
  .container {
    max-width: 85%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 610px !important;
  }
}
.post {

  /* font-weight: 500; */
  display: flex;
  margin-top: 6px;
  margin-bottom: 6px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
@media only screen and (max-width: 769px) {
  .post {
    /* min-width: 550px; */
  }
}

.post .vote-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 12px;
  /* font-size: 18px; */
  background: white;
  color: #424242;
  width: 20%;
  justify-content: space-around;
}
.post .vote-container i {
  font-size: 22px;
}
.post .post-content-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.post .post-content-container a {
  text-decoration: none;
  font-weight: 300;
  color: #424242;
  margin: 0;
  margin-bottom: 4px;
}
.post .post-content-container a:hover {
  color: #1EAAF1;
  transition: all 0.4s ease;
  border-radius: 10px;
}
.post .post-content-container h4 {
  font-weight: 300;
}
.post .post-content-container p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}
.post .post-content-container p a {
  color: #6772e5;

}
.post .message-wrapper {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #424242;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  transition: 0.15s all ease-in-out;
}
.post .edit-delete-wrapper {
  display: flex;

  flex-direction: column;

  justify-content: space-evenly;
  background-color: transparent;
  border-radius: 30px;
}
.edit-delete-wrapper button {
  /* display: flex; */
  /* flex-direction: row; */
  /* margin: 2; */
  font-weight: 700;
  font-size: 13px;
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-around;
  background-color: transparent;
  border-radius: 7px;
  letter-spacing: 2px;
}
.edit-delete-wrapper button:hover{
  background-color:  #1EAAF1;
  transition: 0.15s all ease-in-out;
  color: white;

}
.listposts li {
  /* text-decoration: none; */
  list-style-type: none;
}
.listposts .sortbutton {
  font-size: 13px;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3px;
  padding: 1.0rem;
}
.listposts .sortbutton::before {
  content: "Sort by";
  margin-right: 9px;
  margin-top: 7px;
}
.post {
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-detail {

}
.post-detail h1 {
  font-size: 22px;
  font-weight: 400;
  position: relative;
  /* url("./assets/images/separator.png"); */
}
.post-detail h1:before {
  content: url("./assets/images/separator.png");
  position: absolute;
  top: -35px;
  left: 1px;
}
.post-detail hr {
  content: url("./assets/images/separator.png");
  height: 7px;
  /* width: 66px; */
  /* position: absolute; */
  /* top: -35px; */
  /* left:  1px; */
  float: left;
  border: none;
  margin-top: 7px;
}
.post-detail .post-author-time {
  font-size: 12px;
  margin-top: -6px;
  margin-left: 71px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
@media only screen and (max-width: 769px) {
  .post-detail .post-author-time {

  }
}
.post-detail .post-author-time p {
  /* padding: 5px; */
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 50px;
  /* padding-right: 4px; */
}
.post-detail .post-author-time span {
  color: rgb(2, 123, 254);
  font-weight: bold;
}
.like {
  margin-right: 10px;
}
.dislike {
  margin-left: 10px;
}
.post-detail .post-body {
  margin-top: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;

  /* border-left: solid lightgray 1px; */
  /* border-right: solid lightgray 1px; */
}
.post-detail .post-body p {

}
.post-detail .edit-delete-wrapper {
  display: flex;
  flex-direction: row;
  width: 175px;
}
.post-detail .edit-delete-wrapper button {

}
.listcomments {

}
.listcomments form {
  /* border: solid lightgray 1px; */
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.listcomments form input {
  /* border: solid lightgray 1px; */
  width: 100px;
}
.listcomments .comments-grid {
  padding: 0px;
  list-style: none;
}
.listcomments .sortbutton {
  font-size: 13px;
  display: flex;
  margin-left: 3px;
  padding: 1.0rem;
}
.listcomments .sortbutton::before {
  content: "Sort by";
  margin-right: 9px;
  margin-top: 7px;
}
.comment {
  padding: 1.1rem;
  box-shadow: 0 2px 8px 0 rgba(22, 22, 3, 0.2), 0 6px 20px 0 #eee;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.comment .edit-delete-wrapper span {
  color: rgb(2, 123, 254);
}
@media only screen and (max-width: 769px) {
  .comment {
    width: 440px;
  }
}
.comment .comment-content-container {
  /* display: flex;
  flex-direction: row; */

}
.comment .comment-content-container .flex {
  display: flex;
  flex-direction: row;
  /* justify-content space-between-evenly; */
}
.comment .comment-content-container .flex p {
  /* margin-right: 15px; */
  /* justify-content space-between-evenly; */
}
.comment .comment-content-container .flex .comment-author {
  /* justify-content space-between-evenly; */
  font-weight: 550;
  margin-right: 10px;
}
.comment .comment-content-container .flex .comment-time {
  color: gray;
  font-size: 15px;
  font-weight: 350;
  margin-right: 8px;
}
.comment .comment-content-container .flex img {
  /* justify-content space-between-evenly; */
  margin-top: 4.3px;
}
.createpost .container {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  padding: 15px;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  justify-content: center;
}

ul.breadcrumb li {

  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  /* content: " \00a0"; */
  content: "|";
}
ul.breadcrumb li+li:after {
  padding: 8px;
  color: black;
  /* content: " \00a0"; */
  /* content: "|"; */
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

ul.breadcrumb li a:active {
  background-color: white;
}
.postView {

}

.author {
  font-size: 14px;
  padding: 15px;
  margin-left: 25px;
}

.deleteButton {
  width: 100px;
  height: 30px;
  /*margin-left: 30%;*/
}

.postTime {
  font-size: 12px;
  padding: 15px;
  /*margin-left: 20px;
  border-bottom: 20px;*/
}

.postTitle {
  margin-top: 2px;
  color: #424242;

}

.postTitle:hover {
  text-decoration: none;
}


.social-like, .social-dislike {
  /* border: none; */
  /* outline: none; */
  /* font-size: 10px; */
  /*width: 48%;*/
  /* background-color: #03A9F4; */

  /* color: #fff; */
}

.CreateButton {
  position: absolute;
  margin-left: 30%;
  margin-top: 5px;
}
